@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Delius Unicase", "poppins", 'sans-serif';
    text-decoration: none;
    list-style: none;
    color: #f2efc0;
}


header {
    width: 100%;
    position: sticky;
    top:0%;
    background-color: #667256;
    height: 10vh;
    z-index: 30;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
    padding: 10px 0px;
}
 .botonera-header{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
 }

 header a:hover{
    color: #2B3326;
 }

header li a img {
    height: 7vh;
    width: auto;
}

footer {
    width: 100%;
    background-color: #667256;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    box-sizing: border-box;
    text-align: left;
    color: #f2efc0;
    }

footer ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    }

footer div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    }

footer h5 {
    font-family: "poppins";
    font-weight: 300;
    font-size: 0.7em;
}

footer .logo-boton{
    height: 7vh;
    width: auto;
}

body{
    background-color: #2B3326;
}

body.color-fondo{
    background-color: #f2efc0;
}

.banner, .presentacion, .inicio, .cards, .intro-galeria, .foto-en-grid, .sobre-mi, .programas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase-inicio, .perfil-personal, .flores, .contacto, .caja-programas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
     font-family: "poppins";
     font-size: 1em;
    color: #2B3326;
    }

.banner{
    background-image: url(img/ro-inicio-01.png);
    width: 100%;
    justify-content: center;
    gap: 30px;
    padding: 5% 0%;
    }

#logo{
    height: 50vh;
    width: auto;
    }

.presentacion{
    justify-content: center;
    gap: 20px;
    }

.destacado01{
    font-size: 3em;
    color: #2B3326;
    }

.destacado02{
    font-size: 1.5em;
    color: #2B3326;
}

 article .inicio{
    width: 60%;
    padding: 15% 0%;
    gap: 35px;
}

.frase-inicio{
    justify-content: center;
    padding: 25px 0px 0px;
    gap: 50px;  
}
.perfil-personal{
    width: 60%;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 0px 0px;
    gap: 20px;
}

h2{
    color:#dd9b26;
    font-size: 2em;
}

.sobre-mi{
    align-content: flex-start;
    width: 40%;
    gap: 5px;
    padding-bottom: 30px;
}

.flores{
    width: 100%;
    justify-content: space-between;
    padding: 50px 0px;
}

details{
    width: 60%;
    max-width: 1200px;
    padding: 10px;
}

details[open]{
    background-color: #F0E7B1;
    padding: 10px;
    border-radius: 25px;
    gap: 20px;
}

summary {
    border-radius: 20px;
    border-bottom: 5px solid #dd9b26;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 50px;
    gap: 25px;
    text-align: left;
    color: #dd9b26;
    font-size: 1.8em;
}

.txt-card{
    color: #2B3326;
    font-family: "poppins";
    font-weight: 300;
    font-size: 1em;
    gap: 5px;
    text-align: left;
}

.contenido-card{
    padding: 2%;
}

.caja-programas{
    padding: 2% 5%;
    gap: 15px;
}
p.txt-programas{
    color:#667256;
    text-align: center;
    font-size: 0.5em;
}

.cards{
    padding-bottom: 5%;
    gap: 30px;
}

.costadito{
    background-color: #667256;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% ;
    gap: 5px;
    position: fixed;
    top: 40%;
    right: 0%;
    z-index: 40;
}

.video-bg {
  display: flex;
  align-items: center;
  position: relative;
  top: 0%;
  z-index: 10;
  opacity: 0.4;
}

.video-bg video{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

}

.intro-g{
    color: #f2efc0;
    text-align: center;
    width: 50%;
}

.intro-galeria{
    position: absolute;
    top: 40%;
    right: 20%;
    left: 20%;
    z-index: 20;
    gap: 15px;
}

.foto-en-grid{
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

h3.desc-g{
    color: #dd9b26;
}

p.desc-g{
color: #f2efc0;
font-weight: 200;
}

#miniaturas{
    width: 80%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    padding: 3% 10%;
}

#galeria {
	display: none;
	width: 90%;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top: 10;
	z-index: 60;
    padding: 0% 10%;
}

#galeria-oculta {
	display: flex;
	width: 90%;
	max-width: 1400px;
	overflow: hidden;
	z-index: 70;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 90%;
	min-width: 1400px;
	height: 100vh;
	justify-content: space-between;
}



#foto-01 {
	background-image: url("img/galeria-abierta-01.png");
}

#foto-02 {
	background-image: url("img/galeria-abierta-02.png");
}

#foto-03 {
	background-image: url("img/galeria-abierta-03.png");
}

#foto-04 {
	background-image: url("img/galeria-abierta-04.png");
}

#foto-05 {
	background-image: url("img/galeria-abierta-05.png");
}

#foto-06 {
	background-image: url("img/galeria-abierta-06.png");
}

#foto-07 {
	background-image: url("img/galeria-abierta-07.png");
}

#foto-08 {
	background-image: url("img/galeria-abierta-08.png");
}

#foto-09 {
	background-image: url("img/galeria-abierta-09.png");
}

#foto-10 {
	background-image: url("img/galeria-abierta-10.png");
}

#foto-11 {
	background-image: url("img/galeria-abierta-11.png");
}

#foto-12 {
	background-image: url("img/galeria-abierta-12.png");
}

.close {
	position: absolute;
	top: 8%;
	right: 15%;
    z-index: 80;
}

#fondo-galeria {
	background-color: #2B3326;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

img.chica-cafe{
    max-width: 55vw;
    height: auto;
}

.contacto{
    gap: 5%;
    align-items: flex-start;
}

.c-cabecera{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 25px;
    width: 80%;
    text-align: left;
}

.titulos-c{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p.t-c, h2.t-c{
        color: #f2efc0;
        text-align: left;
}

h2.t-c{
    font-size: 3em;
}

.formulario{
    width: 30vw;
    border-radius: 30px;
    background-color: #dd9b26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    box-sizing: border-box;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.campo, .enviar{
    width: 25vw;
    border-radius: 10px;
    border: 1px solid #f2efc0;
    box-sizing: border-box;
    padding: 5%;
    background-color: #dd9b26;
}

input::placeholder{
 color: #f2efc0;
}

input.enviar:hover{
    background-color: #f2efc0;
    color: #667256;
}

h3.t-f{
    font-size: 2em;
}

.a-c{
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
    gap: 20px;
}

@media screen and (max-width:600px) {
    header ul{
     font-size: 0.8em;}

    #logo{
    height: auto;
    width: 60vw;
    }

    .frase-inicio, .perfil-personal, .contacto{
    flex-direction: column;
    }

    .sobre-mi{
    align-content: center;
    width: 60vw;
    text-align: center;
    }

    .flor{
    max-width: 6vw;
    height: auto;
    }

    ul.caja-programas{
    max-width: 80%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    ul.caja-programas img{
        max-width: 10vw;
        height: auto;
    }

    p.txt-programas{
    font-size: 0.3em;
    }

    summary {
    border-radius: 10px;
    border-bottom: 3px solid #dd9b26;
    height: 7vh;

    padding: 20px 50px;
    gap: 25px;
    font-size: 1.4em;
    }

#miniaturas{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 3% 10%;
}

.intro-galeria{
    position: absolute;
    top: 40%;
    right: 5%;
    left: 5%;
    z-index: 20;
    gap: 20px;
}

}